:root {
  --background-color: #e8ecf3;
  --text-color: #0c1226;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
}

#color-palette-container {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 24px auto;
  width: 90%;
}

.color {
  border: 1px solid red;
  height: 15em;
}
